<div class="container">
    <h2 class="title mt-3">Áreas de trabajo</h2>
    <section>
        <div class="d-flex justify-content-end">
            <button mat-button class="button-primary"><mat-icon>add</mat-icon> Crear</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Área</th>
                    <th>Last</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <!-- <button class="button-primary"> -->
                        <mat-icon class="color-button-edit">edit</mat-icon>
                        <!-- </button> -->
                        <!-- <button class="button-primary"> -->
                        <mat-icon class="color-button-delete">delete</mat-icon>
                        <!-- </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>