// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$gestionTurnos-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($gestionTurnos-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($gestionTurnos-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($gestionTurnos-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "ApercuPro";
}

.button-primary {
  color: black !important;
  background-color: white !important;
  border: 1px solid #EAA543 !important;
  transition: background-color 0.3s, color 0.3s !important;
  border-radius: 8px
}

.button-primary:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: white !important;
}

.button-secondary {
  color: #666666 !important;
  background-color: white !important;
  border: 1px solid #666666 !important;
  transition: color 0.3s, border-color 0.3s !important;
  border-radius: 8px
}

.button-secondary:hover,
.button-secondary:focus {
  color: #EAA543 !important;
  border-color: #EAA543 !important;
  opacity: 0.8 !important;
}

.title {
  font-weight: 500;
  color: #EAA543;
}

.cursor {
  cursor: pointer;
}

.mat-mdc-mini-fab {
  background-color: #EAA543 !important;
}